{{- if .Values.consumer.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-consumer-config
data:
  consumer_config.yaml: |
    user: "guest"
    password: "guest"
    host: "rabbitmq"
    port: "5672"
    exchange: "test-exchange"
    exchangeType: "direct"
    queue: "test-queue"
    key: "test-key"
    consumerTag: "simple-consumer"
    lifetime: 0
{{- end }}