logger:
  level: "info" # info or error

http:
  listen: ":8080"

storage:
  type: "memory" # or "redis" or "postgres"
  redis:
    addr: "localhost:6379"
    password: "" # thas is ok without pass as it's a local service
    db: 0
  postgres:
    dsn: "host=localhost user=postgres1 password=secret123 dbname=calendar01 sslmode=disable"
migrations_path: "migrations" # should be in the root of the app